<h2 style="text-align: center;">~ {{restoran.nazivRestorana}} ~</h2>
<div class="levo">
    <mat-form-field class="prostor">
        <mat-label>Tip hrane</mat-label>
        <mat-select [(ngModel)]="odabranTip" (selectionChange)="promena()" name="food">
            <mat-option *ngFor="let food of listTipove" [value]="food.value">
                {{food.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="prostor">
        <mat-label>Sortiraj</mat-label>
        <mat-select [(ngModel)]="odabraoSort" (selectionChange)="promena()" name="sort">
            <mat-option *ngFor="let s of sort" [value]="s.value">
                {{s.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="prostor">
        <mat-label>Pretraga</mat-label>
        <input [(ngModel)]="search" type="text" matInput (change)="promena() " placeholder="naziv obroka ">
        <mat-icon style="cursor:pointer;" matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<div>
    <app-display *ngFor="let artikl of secondList " [article]="artikl"></app-display>
    <div style="display: inline-block; margin: auto; text-align: center;">
        <app-paginator *ngIf="paginator>1" [paginator]="paginator" (promena)="novaStrana($event)"></app-paginator>
    </div>
</div>