<div>
    <mat-form-field>
        <mat-label>Tip hrane</mat-label>
        <mat-select [(ngModel)]="odabranTip" (selectionChange)="callForRequest()" name="food">
            <mat-option *ngFor="let food of listTipove" [value]="food">
                {{food}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Naziv restorana</mat-label>
        <mat-select [(ngModel)]="odabranRestoran" (selectionChange)="callForRequest()" name="restaurant">
            <mat-option *ngFor="let restaurant of listRestorane" [value]="restaurant">
                {{restaurant}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Pretraga</mat-label>
        <input [(ngModel)]="search" type="text" matInput (change)="callForRequest() " placeholder="naziv obroka ">
        <mat-icon style="cursor:pointer;" matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<div *ngIf="odabranRestoran!=nazivZaSveRestorane ">
    <img [src]="getMyImage(getMyRestoraunt(odabranRestoran).slika_restorana) " style="width:180px; height:180px; display:inline-block; "> {{odabranRestoran}} {{getMyRestoraunt(odabranRestoran).opis_restorana}} {{getMyRestoraunt(odabranRestoran).telefon_restorana}}
</div>
<div *ngIf="homeList">
    <div *ngFor="let item of list ">
        <i>{{item.opis_tipa_artikla}}</i>
        <div>
            <span *ngFor="let artikl of item.artikli " style="margin-right: 10px; ">
            <img [src]="getMyImage(artikl.slika_artikla) " style="width:50px; height:80px; display:inline-block; ">{{artikl.naziv_artikla}}</span>
        </div>
    </div>
</div>
<div *ngIf="!homeList">
    <span *ngFor="let artikl of secondList" style="margin-right: 10px; ">
    <img [src]="getMyImage(artikl.slika_artikla) " style="width:50px; height:80px; display:inline-block; ">{{artikl.naziv_artikla}}</span>
    <app-paginator *ngIf="paginator>1" [paginator]="paginator" (promena)="novaStrana($event)"></app-paginator>
</div>