<div class="w3-content w3-padding-large" style="max-width:1100px;margin-top:80px;margin-bottom:80px;" id="top">

  <mat-form-field>
    <mat-label>Uloga korisnika</mat-label>
    <mat-select [(ngModel)]="uloga" name="uloga" (ngModelChange)="selectChanged()">
      <mat-option value="1">Klijent</mat-option>
      <mat-option value="4">Admin</mat-option>
      <mat-option value="3">Dostavljac</mat-option>
      <mat-option value="2">Zaposleni</mat-option>
    </mat-select>
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="uloga == '1'">
    <div class="w3-bar w3-xlarge w3-indigo">
        <div class="w3-bar-item">Klijenti</div>
        <button class="mobile-label w3-bar-item w3-button w3-text-white w3-round-xlarge">
          <i class="fa fa-plus"></i>
        </button>
      </div>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="ime">
            <th mat-header-cell *matHeaderCellDef> Ime </th>
            <td mat-cell *matCellDef="let korisnik">
              <span class="mobile-label">Ime:</span>
              {{korisnik.imeKorisnika + ' ' + korisnik.prezimeKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let korisnik">
                <span class="mobile-label">Email:</span>
              {{korisnik.emailKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon </th>
            <td mat-cell *matCellDef="let korisnik">
                <span class="mobile-label">Telefon:</span>
              {{korisnik.telefonKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openDialog(1, null, null, null, null, null)">
                  <i class="fa fa-plus"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="primary"  (click)="openDialog(2, row.imeKorisnika, row.prezimeKorisnika, row.emailKorisnika, row.telefonKorisnika, row.lozinkaKorisnika)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button mat-icon-button color="primary"  (click)="openDialog(3, row.imeKorisnika, row.prezimeKorisnika, row.emailKorisnika, row.telefonKorisnika, row.lozinkaKorisnika)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-card *ngIf="!loaded" style="z-index: 1; display: flex; justify-content: center; align-items: center">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>

      <div class="mat-elevation-z8" *ngIf="uloga == '4'">

          <div class="w3-bar w3-xlarge w3-indigo">
              <div class="w3-bar-item">Admini</div>
              <button class="mobile-label w3-bar-item w3-button w3-text-white w3-round-xlarge">
                <i class="fa fa-plus"></i>
              </button>
            </div>

        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="ime">
            <th mat-header-cell *matHeaderCellDef> Ime </th>
            <td mat-cell *matCellDef="let korisnik">
              <span class="mobile-label">Ime:</span>
              {{korisnik.imeKorisnika + ' ' + korisnik.prezimeKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let korisnik">
                <span class="mobile-label">Email:</span>
              {{korisnik.emailKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon </th>
            <td mat-cell *matCellDef="let korisnik">
                <span class="mobile-label">Telefon:</span>
              {{korisnik.telefonKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openDialog(1, null, null, null, null, null)">
                  <i class="fa fa-plus"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="primary"  (click)="openDialog(2, row.imeKorisnika, row.prezimeKorisnika, row.emailKorisnika, row.telefonKorisnika, row.lozinkaKorisnika)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button mat-icon-button color="primary"  (click)="openDialog(3, row.imeKorisnika, row.prezimeKorisnika, row.emailKorisnika, row.telefonKorisnika, row.lozinkaKorisnika)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-card *ngIf="!loaded" style="z-index: 1; display: flex; justify-content: center; align-items: center">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>

      <div class="mat-elevation-z8" *ngIf="uloga == '2'">

          <div class="w3-bar w3-xlarge w3-indigo">
              <div class="w3-bar-item">Zaposleni</div>
              <button class="mobile-label w3-bar-item w3-button w3-text-white w3-round-xlarge">
                <i class="fa fa-plus"></i>
              </button>
            </div>

        <table mat-table [dataSource]="dataSourceZaposleni">
          <ng-container matColumnDef="ime">
            <th mat-header-cell *matHeaderCellDef> Ime </th>
            <td mat-cell *matCellDef="let zaposleni">
              <span class="mobile-label">Ime:</span>
              {{zaposleni.korisnik.imeKorisnika + ' ' + zaposleni.korisnik.prezimeKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let zaposleni">
                <span class="mobile-label">Email:</span>
              {{zaposleni.korisnik.emailKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon </th>
            <td mat-cell *matCellDef="let zaposleni">
                <span class="mobile-label">Telefon:</span>
              {{zaposleni.korisnik.telefonKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="funkcijaZaposlenog">
            <th mat-header-cell *matHeaderCellDef> Funkcija </th>
            <td mat-cell *matCellDef="let zaposleni">
                <span class="mobile-label">Funkcija:</span>
              {{zaposleni.funkcijaZaposlenog}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openDialogZaposleni(1, null, null, null, null, null, null, null, null)">
                  <i class="fa fa-plus"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="primary"  (click)="openDialogZaposleni(2, row.idZaposlenog, row.korisnik.imeKorisnika, row.korisnik.prezimeKorisnika, row.korisnik.emailKorisnika, row.korisnik.telefonKorisnika, row.korisnik.lozinkaKorisnika, row.funkcijaZaposlenog, row.restoranId)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button mat-icon-button color="primary"  (click)="openDialogZaposleni(3, row.idZaposlenog, row.korisnik.imeKorisnika, row.korisnik.prezimeKorisnika, row.korisnik.emailKorisnika, row.korisnik.telefonKorisnika, row.korisnik.lozinkaKorisnika, row.funkcijaZaposlenog, row.restoranId)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsZaposleni"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsZaposleni;"></tr>
        </table>
        <mat-card *ngIf="!loaded" style="z-index: 1; display: flex; justify-content: center; align-items: center">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>


      <div class="mat-elevation-z8" *ngIf="uloga == '3'">

          <div class="w3-bar w3-xlarge w3-indigo">
              <div class="w3-bar-item">Dostavljaci</div>
              <button class="mobile-label w3-bar-item w3-button w3-text-white w3-round-xlarge">
                <i class="fa fa-plus"></i>
              </button>
            </div>

        <table mat-table [dataSource]="dataSourceDostavljaci">
          <ng-container matColumnDef="ime">
            <th mat-header-cell *matHeaderCellDef> Ime </th>
            <td mat-cell *matCellDef="let dostavljac">
              <span class="mobile-label">Ime:</span>
              {{dostavljac.korisnik.imeKorisnika + ' ' + dostavljac.korisnik.prezimeKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let dostavljac">
                <span class="mobile-label">Email:</span>
              {{dostavljac.korisnik.emailKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="telefon">
            <th mat-header-cell *matHeaderCellDef> Telefon </th>
            <td mat-cell *matCellDef="let dostavljac">
                <span class="mobile-label">Telefon:</span>
              {{dostavljac.korisnik.telefonKorisnika}} </td>
          </ng-container>

          <ng-container matColumnDef="prevoznoSredstvo">
              <th mat-header-cell *matHeaderCellDef> Prevozno sredstvo </th>
              <td mat-cell *matCellDef="let korisnik">
                  <span class="mobile-label">Prevozno sredstvo:</span>
                {{korisnik.prevoznoSredstvo}} </td>
            </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openDialogDostavljac(1, null, null, null, null, null, null, null)">
                  <i class="fa fa-plus"></i>
                </button>
              </th>
              <td mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="primary"  (click)="openDialogDostavljac(2, row.idDostavljaca, row.korisnik.imeKorisnika, row.korisnik.prezimeKorisnika, row.korisnik.emailKorisnika, row.korisnik.telefonKorisnika, row.korisnik.lozinkaKorisnika, row.prevoznoSredstvo)">
                  <i class="fa fa-pencil"></i>
                </button>
                <button mat-icon-button color="primary"  (click)="openDialogDostavljac(3, row.idDostavljaca, row.korisnik.imeKorisnika, row.korisnik.prezimeKorisnika, row.korisnik.emailKorisnika, row.korisnik.telefonKorisnika, row.korisnik.lozinkaKorisnika, row.prevoznoSredstvo)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDostavljaci"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDostavljaci;"></tr>
        </table>
        <mat-card *ngIf="!loaded" style="z-index: 1; display: flex; justify-content: center; align-items: center">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>

</div>
