<img class="cartImage" src="../../../../../assets/images/shopping_basket.png">
<div *ngIf="prikazi" class="cartElements">
    <mat-card *ngFor="let element of korpa.stavkePorudzbine; let i = index" class="items">
        <mat-card-header style="text-align: center!important;">
            <mat-card-title> {{element.artikl.nazivArtikla}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="getMyImage(element.artikl.slikaArtikla)">
        <mat-card-content>
            Prilozi:
            <div *ngFor="let prilog of element.imaPriloge.prilog">{{prilog.nazivPriloga}}</div>
            <p>Mera: {{element.mera.opisMere}}</p>
            <p>Cena: {{element.artikl.cenaArtikla}} rsd</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="removeMe(element.artikl.idArtikla)">
                    Izbaci iz korpe
                    <mat-icon>delete</mat-icon>
                </button>
        </mat-card-actions>
    </mat-card>
    <p style="margin-top: 13px;">Ukupna cena {{korpa.ukupnaCena}}</p>


    <mat-form-field>
        <mat-label>Lokacija</mat-label>
        <mat-select [(ngModel)]="odabraoLok" name="locati   on">
            <mat-option *ngFor="let l of locationslist" [value]="l.value">
                {{l.name}}
            </mat-option>
        </mat-select>
    </mat-form-field><br/>
    <form *ngIf="odabraoLok==-1" [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Ulica</mat-label>
            <input formControlName="ulica" matInput type="text" placeholder="Bulevar Oslobodjenja" />
            <mat-error *ngIf="form.controls.ulica.errors?.required">
                Potrebno je uneti ulicu.
            </mat-error>
            <mat-error *ngIf="
            !form.controls.ulica.errors?.required &&
            form.controls.ulica.errors?.minlength
          ">
                Unesite validnu ulicu.
            </mat-error>
        </mat-form-field><br/>
        <mat-form-field class="example-full-width">
            <mat-label>Broj zgrade</mat-label>
            <input formControlName="broj" matInput type="text" placeholder="bb" />
            <mat-error *ngIf="form.controls.broj.errors?.required">
                Potrebno je uneti broj zgrade.
            </mat-error>
            <mat-error *ngIf="
            !form.controls.broj.errors?.required &&
            form.controls.broj.errors?.minlength
          ">
                Unesite validan broj.
            </mat-error>
        </mat-form-field><br/>
        <mat-form-field class="example-full-width">
            <mat-label>Grad</mat-label>
            <input formControlName="grad" matInput type="text" placeholder="Novi Sad" />
            <mat-error *ngIf="form.controls.grad.errors?.required">
                Potrebno je uneti grad.
            </mat-error>
            <mat-error *ngIf="
            !form.controls.grad.errors?.required &&
            form.controls.grad.errors?.minlength
          ">
                Unesite validan grad.
            </mat-error>
        </mat-form-field><br/>
        <mat-form-field class="example-full-width">
            <mat-label>Postanski broj</mat-label>
            <input formControlName="pBroj" matInput type="text" placeholder="21000" />
            <mat-error *ngIf="form.controls.pBroj.errors?.required">
                Potrebno je uneti postanski broj.
            </mat-error>
            <mat-error *ngIf="
            !form.controls.pBroj.errors?.required &&
            form.controls.pBroj.errors?.minlength
          ">
                Unesite validan postanski broj.
            </mat-error>
        </mat-form-field><br/>
    </form>
    <button style="margin-bottom: 10px;" mat-raised-button color="primary" [disabled]="!form.valid&&odabraoLok==-1" (click)="posaljiPorudzbinu()">Potvrdi porudzbinu</button>
</div>

<p *ngIf="!prikazi" style="display: inline-block;">Vasa korpa je prazna.</p>