<div style="text-align: center;">
    <mat-form-field>
        <mat-label>Status porudzbine</mat-label>
        <mat-select [(ngModel)]="status" (selectionChange)="promena()" name="statusi">
            <mat-option *ngFor="let s of statusi" [value]="s.value">
                {{s.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="prikazi" style="text-align: center;">
    <div *ngFor="let order of orders.content; let i = index">
        <button *ngIf="order.statusPorudzbine!='gotova'&&order.statusPorudzbine!='Gotova'" mat-raised-button (click)="gotovo(order.idPorudzbine)" color="warn">Gotovo</button>
        <span *ngIf="order.dostavljac">
            Prevozno strestvo dostavljaca: {{order.dostavljac.prevoznoSredstvo}}</span><br/> Stanje: {{order.statusPorudzbine}}<br/> Vreme prijema: {{order.vremePrijemaPorudzbine| date:'d.MM.yyyy HH:mm'}}<br/> Vreme isporuke: {{order.vremeIsporukePorudzbine|
        date:'d.MM.yyyy HH:mm'}}
        <br/> Lokacija: {{order.lokacija.ulica}} {{order.lokacija.broj}}, {{order.lokacija.grad}}, {{order.lokacija.postanskiBroj}}
        <br/> Cena: {{order.ukupnaCena}} rsd
        <br/><button *ngIf="gleda!=i" mat-raised-button (click)="pogledaj(i)" color="primary">Detalji</button>
        <div *ngIf="gleda==i">
            Artikli:
            <app-article-orders [article]="order.stavkePorudzbine"></app-article-orders>
            <app-route-map [restoran]="restoran" [korisnik]="order.lokacija" lat="45.2566559" lng="19.844614" width="100%" height="500px"></app-route-map>

            <button mat-raised-button (click)="pogledaj(-1)" color="warn">Sakrij</button>
        </div>
    </div>
    <app-paginator *ngIf="paginator>1" [paginator]="paginator" (promena)="novaStrana($event)"></app-paginator>
</div>
<div *ngIf="!prikazi" style="text-align: center;">
    Nema porudzbina za prikazati!
</div>