<div *ngIf="loaded">
    naziv: {{artikl.naziv_artikla}}<br/>
    <img [src]="getMyImage(artikl.slika_artikla)" style="height: 250px; width: 250px;"><br/> cena: {{artikl.cena_artikla}}
    <p>Prilozi</p>
    <section class="example-section">
        <mat-checkbox *ngFor="let prilog of biraPrilog" class="example-margin" style="display: block;" [(ngModel)]="prilog.stanje">{{prilog.naziv_priloga}}</mat-checkbox>
    </section>
    <mat-form-field>
        <mat-label>Kolicina:</mat-label>
        <mat-select [(ngModel)]="kolicina" name="bira">
            <mat-option *ngFor="let mera of biraMeru" [value]="mera.id_mere">
                {{mera.opis_mere}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="user!=getRole()" (click)="dodaje()">Dodaj u korpu</button>
    <p *ngIf="user!=getRole()" style="color: red;">*Morate biti prijavljeni kao "{{user}}" da bi mogli koristiti korpu!</p>
</div>