
<footer class="footer-distributed">

  <div class="footer-left">
      <img src="../../../../assets/images/logo.png">
    <h3>Eat<span>In</span></h3>
    <p class="footer-company-name">© 2020 EatIn</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
        <p><span>Bulevar oslobođenja 1</span>
        Novi Sad</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+381 63456825</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#">support@eatin.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>O nama</span>
      Nudimo dostavu hrane iz vaših najomiljenijih restorana!</p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</footer>

