<div class="center">
    <mat-card style="background-color: rgb(208, 211, 208)">
        <h3 class="w3-center">Registracija</h3>
        <mat-card-content>
            <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <!--
    <mat-form-field class="example-full-width">
        <mat-label>Ime</mat-label>
        <input formControlName="ime" matInput placeholder="Ime" type="text" value="" />
        <mat-error *ngIf="form.controls.ime.errors?.required">
            Potrebno je uneti ime.
        </mat-error>
        <mat-error *ngIf="
            !form.controls.ime.errors?.required &&
            form.controls.ime.errors?.minlength
          ">
            Unesite validno ime.
        </mat-error>
    </mat-form-field>
     -->
                <mat-form-field>
                    <input formControlName="ime" matInput placeholder="Ime" name="IME_KORISNIKA" required pattern="[A-Za-zčćžšđČĆŽŠĐ]+" minlength="2" maxlength="20">
                    <mat-hint>Minimum 2, a maksimum 20 slova</mat-hint>
                </mat-form-field>
                <!--
    <mat-form-field class="example-full-width">
        <mat-label>Prezime</mat-label>
        <input formControlName="prezime" matInput placeholder="Prezime" type="text" value="" />
        <mat-error *ngIf="form.controls.prezime.errors?.required">
            Potrebno je uneti prezime.
        </mat-error>
        <mat-error *ngIf="
            !form.controls.prezime.errors?.required &&
            form.controls.prezime.errors?.minlength
          ">
            Unesite validno prezime.
        </mat-error>
    </mat-form-field>
-->
                <mat-form-field>
                    <input formControlName="prezime" matInput placeholder="Prezime" name="PREZ_KORISNIKA" required pattern="[A-Za-zčćžšđČĆŽŠĐ]+" minlength="2" maxlength="20">
                    <mat-hint>Minimum 2, a maksimum 20 slova</mat-hint>
                </mat-form-field>

                <!--
    <mat-form-field class="example-full-width">
        <mat-label>Email Adresa</mat-label>
        <input formControlName="email" matInput type="email" placeholder="kredencijali@primer.com" />
        <mat-error *ngIf="form.controls.email.errors?.required">
            Potrebno je uneti email adresu.
        </mat-error>
        <mat-error *ngIf="
        !form.controls.email.errors?.required &&
        form.controls.email.errors?.minlength
      ">
            Unesite validnu email adresu.
        </mat-error>
    </mat-form-field>
  -->

                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email" name="EMAIL" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" maxlength="30">
                    <mat-icon matSuffix><i class="fa fa-envelope"></i></mat-icon>
                    <mat-hint>Format: neko@domen.domen, maksimalno 30 karaktera</mat-hint>
                </mat-form-field>
                <!--
    <mat-form-field class="example-full-width">
        <mat-label>Lozinka</mat-label>
        <input formControlName="password" matInput placeholder="Lozinka" type="password" value="" />
        <mat-error *ngIf="form.controls.password.errors?.required">
            Potrebno je uneti lozinku.
        </mat-error>
        <mat-error *ngIf="
        !form.controls.password.errors?.required &&
        form.controls.password.errors?.minlength
      ">
            Unesite validnu lozinku.
        </mat-error>
    </mat-form-field>
  -->

                <mat-form-field>
                    <input formControlName="password" matInput id="myPwdInput" placeholder="Password" type="password" name="PASSWORD" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$" maxlength="20">
                    <mat-icon matSuffix><i style="cursor: pointer;" id="myPwdIcon" class="fa fa-eye" (click)="showHidePwd()"></i></mat-icon>
                    <mat-hint>Minimum 8, a najviše 20 karaktera. Mora sadržati bar jedno malo i veliko slovo, cifru kao i specijalni karakter.</mat-hint>
                </mat-form-field>

                <!--
    <mat-form-field class="example-full-width">
        <mat-label>Broj telefona</mat-label>
        <span matPrefix>+381 &nbsp;</span>
        <input formControlName="broj" matInput placeholder="Broj telefona" type="text" value="" />
        <mat-error *ngIf="form.controls.broj.errors?.required">
            Potrebno je uneti broj telefona.
        </mat-error>
        <mat-error *ngIf="
        !form.controls.broj.errors?.required &&
        form.controls.broj.errors?.minlength
      ">
            Unesite validan broj telefona.
        </mat-error>
    </mat-form-field>
    -->

                <mat-form-field>
                    <span matPrefix>+381 &nbsp;</span>
                    <input formControlName="broj" matInput placeholder="Telefon" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" name="TELEFON" required pattern="[0-9]+" minlength="8" maxlength="25">
                    <mat-icon matSuffix><i class="fa fa-phone"></i></mat-icon>
                    <mat-hint>Format: 63515524, maksimalno 9 brojeva</mat-hint>
                </mat-form-field>

                <div class="form-group recaptcha">
                    <!--<label for="formGroupExampleInput2">Molimo potvrdite da niste robot:</label> <br>-->
                    <re-captcha formControlName="kapcaProvera" #captchaElem [siteKey]="token">
                    </re-captcha>
                </div>
                <mat-card-actions class="w3-center">
                    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">
    Register
  </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>